body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#chart {
  float: right;
  border: medium solid #999;
  margin: 10px 10px 5px 10px;
  position: relative;
  width: 48%;
  height: 600px;
}

.tooltip {
  position: absolute;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: '5px';
  background-color: white;
}

.info {
  position: static;
  border: 2px solid skyblue;
  border-radius: 8px;
}