/*insert style here*/

#map {
    float:left;
    height: 600px;
    width: 47%;
    border: medium solid #999;
    margin: 10px 5px 10px 10px;
    padding: 10px;
    /* text-align: center; */
}

#chart {
    float:right;
    height: 600px;
    width: 47%;
    border: medium solid #999;
    margin: 10px 10px 10px 5px;
    padding: 10px;
    /* text-align: center; */
}

/* not yet used */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}